
#min,#sec,#msec{
    font-size : 2em;
}
body{
    background-color: rgb(86, 195, 209);
}

button{
    color:rgb(241, 240, 240);
    background: rgb(22, 17, 8);
    padding:10px 20px;
    
   
}
.cente{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#min,#sec,#msec{
    color: yellow;
}